/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #FAFAFA;
}

.w-100 {
  width: 100%;
}

.table-wrapper {
  padding: 24px;

  table {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    .mat-row {
      cursor: pointer;
      &:hover {
        background: #eceff1;
      }
    }
  }
}

.pure-button {
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  border: none;
}

.red {
  color: red;
}

.action-button {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 56px;
  height: 56px;
  font-size: 24px;
  color: #FFFFFF;
  background: #512da8;
  box-shadow: 0 0 5px rgba(#512da8, .75);
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: none;
  transition: .25s;

  &:hover {
    background: #4527a0;
    box-shadow: 0 0 10px rgba(#512da8, .75);
  }

  &:active {
    background: #311b92;
  }
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.form-control-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-form-field {
    padding: 0 12px;
  }
}

.right {
  display: flex;
  justify-content: flex-end;
}
